<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0" />
      <title>Job Application Confirmation</title>
 
   </head>
   <body  style="border-radius: 25px; font-family: Arial, sans-serif; margin: 20px; padding: 10px; background-color: #efc9f8;">
      <img
         src="cid:sameCIDvalue"
         alt="Flying Bird Image" 
         style="width: 300px; height: auto; display: block; margin: 0 auto; border-radius: 25px; box-shadow: 0px 5px 5px 4px rgba(113, 241, 55, 0.85);"/>
      <p style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">Dear <%= name %> ,</p>
      <p style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">
         Thank you for applying for the job at Easily. We have received your application and are
         currently reviewing it.
      </p>
      <p style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">
         If your qualifications match our requirements, we will contact you for the next steps of
         the selection process.
      </p>
      <p style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">
      Thank you for your interest in joining our team!</p>
      <p style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">
      Best regards,</p>
      <p  style="margin-left: 20px; padding-left: 15px; align-self: center; display: flex; justify-content: center;">
      The Easily Team</p>
   </body>
</html>
