body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
      }
        
  header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
    animation: title-animation 2s ease-in-out infinite alternate;
  }
  
  @keyframes title-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  main {
    padding: 50px;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .hero img {
    width: 300px;
    height:auto;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0px 2px 6px 1px #8bcdf16b;
  }
  
  .hero h2 {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .benefit-card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .benefit-card img {
    /* width: 50px; */
    margin-bottom: 10px;
    justify-content: center;
    display: inline-flex;
  }
  
  .benefit-card:hover {
    transform: scale(1.05);
  }
  
  .benefit-header  {
    display: flex;
    justify-content: center;
    font-size: larger;
    color:#3498db;
    font-weight: bolder;
  }
  .benefit-header:hover {
    transform: scale(1.05);
  }
  
.profiles {
  /* border: 3px solid red; */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.profiles img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.profiles p {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  height: max-content;
  transition: transform 0.2s ease-in-out;
}

.profiles p:hover {
  transform: scale(1.08);
  box-shadow: 0px 3px 10px 6px  rgba(36, 137, 219, 0.897);
}

  footer {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-links li {
    margin: 0 10px;
    size: 20px; 
  }
  
  .social-links li a {
    color: white;
  }
  
  .social-links li a:hover {
    color: #ccc;
  }